<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>Johor's Air Pollutant Index of Malaysia versus Singapore's PSI</title>
<meta name="description" content="Comparing if two neighbouring countries think the air quality is healthy or not">
<style>
html, body {
	height: 100%;
	color: white;
	font-family: "Open Sans", "Segoe UI", "Seravek", sans-serif;
}
#container { display: flex; width: 100%; height: 100%; flex-direction: column; }
#container div { display: flex; flex: 1;  justify-content: center; align-items: center; text-align: center; padding: 10px; }
.bad { background-color: rgb(244, 67, 54); }
.good { background-color: rgb(76, 175, 80); }
</style>
</head>
<body>

<!-- https://github.com/kaihendry/jbsg -->

<div id='container'>

{{ if gt .Johor.Value 100 }}
<div class="bad">
{{ else }}
<div class="good">
{{ end }}
{{ .Johor.Value }} @<time datetime="{{ .Johor.Timestamp }}">{{ .Johor.Timestamp | since }}</time>
</div>

<!-- https://www.haze.gov.sg/images/default-source/health-advisory-images/hazy.jpg -->
{{ if gt .Singapore.Value 100 }}
<div class="bad">
{{ else }}
<div class="good">
{{ end }}
{{ .Singapore.Value }} @<time datetime="{{ .Singapore.Timestamp }}">{{ .Singapore.Timestamp | since }}</time>
</div>

</body>
</html>
